@using Microsoft.AspNetCore.Identity
@using WebApp.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<ul class="dropdown-menu" aria-labelledby="clone">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a class="dropdown-item"
               asp-area="Identity"
               asp-page="/Account/Manage/Index"
               title="Manage">
                Profile
            </a>
        </li>
        <li>
            <a class="dropdown-item"
               asp-area=""
               asp-action="index"
               asp-controller="booking">
                Your Booking
            </a>
        </li>
        <li>
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="dropdown-item">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a class="dropdown-item"
               id="register"
               asp-area="Identity"
               asp-page="/Account/Register">
                Register
            </a>
        </li>
        <li>
            <a class="dropdown-item"
               id="login"
               asp-area="Identity"
               asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>
