@model Model.Hotel

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-header">
        Hotel Information
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="Hotel name" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" placeholder="Hotel address" asp-for="Location">
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Price</label>
                    <input class="form-control" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <div id="editor"></div>
                <input type="hidden" asp-for="Description" id="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                editor.model.document.on('change', () => {
                    document.getElementById('Description').value = editor.getData();
                });
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
