<footer class="text-lg-start text-muted">
    <section class="border-bottom">
        <div class="container text-md-start mt-5">
            <div class="row mt-3 ">
                <div class="text-center col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="fw-bold mb-4">
                        <img src="~/assets/images/logo-brand.png"
                             class="me-2"
                             height="100"
                             alt="Kanel Travels Brand Logo"
                             loading="lazy" />
                    </h6>
                    <p>
                        Discover seamless travel with Karnel Travels - your all-in-one platform.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-md-left">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Services
                    </h6>
                    <p>
                        <a class="text-reset" asp-controller="touristspot" asp-action="index" asp-area="">
                            Tourist Spots
                        </a>
                    </p>
                    <p>
                        <a class="text-reset" asp-controller="hotel" asp-action="index" asp-area="">
                            Hotel Information 
                        </a>
                    </p> <p>
                        <a class="text-reset" asp-controller="restaurant" asp-action="index" asp-area="">
                            Restaurant Infor
                        </a>
                    </p> <p>
                        <a class="text-reset" asp-controller="resort" asp-action="index" asp-area="">
                            Resort Information
                        </a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-md-left">
                    <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                    
                    <p>
                        <i class="fa-regular fa-envelope me-3"></i>
                        <a asp-action="index" asp-controller="feedback" asp-area="" class="text-reset">
                            info@karneltravels.com
                        </a>
                    </p>
                    <p>
                        <i class="fa-solid fa-phone me-3"></i>
                        <a asp-action="index" asp-controller="feedback" asp-area="" class="text-reset">
                            +84 338805198
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </section>
  @*  <section class="d-flex justify-content-center justify-content-lg-between p-4 container">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa-brands fa-instagram fa-lg"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
        </div>
    </section>*@
</footer>
