@model Hotel
@{
    ViewData["Title"] = "Detail";
}

<section class="mt-4">
    <div class="row">
        <div class="col-md-9 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="card-text fs-3 fw-bold">
                                @Model.Name
                            </p>
                            <p class="fs-6">
                                @Model.Location
                            </p>
                            <div class="card-text  ratings">
                                <span class="me-3">
                                    Ratings:
                                </span>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="card-text fs-6 mt-3">
                                Our professional and friendly staff is always willing to support 24/7. With a convenient location, we are close to tourist attractions and the city center, promising to bring you memorable memories on every trip. Book your room today to experience the best comfort and service at our hotel!
                            </p>

                        </div>
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                            <img class="rounded-circle m-3" style="width: 300px; height: 300px; object-fit: cover;" src="@Model.Image" alt="Ảnh đại diện">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text fs-5 fw-bold">
                        Amenities and Facilities
                    </p>
                    <ul class="list-group no-style">
                        <li class="list-group-item border-0">
                            <i class="fa-regular fa-circle-check icon-mr"></i>
                            <span>24/7 Check-in</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-wifi icon-mr"></i>
                            <span>Complimentary Wi-Fi</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-suitcase-rolling icon-mr"></i>
                            <span>Luggage Storage</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-broom icon-mr"></i>
                            <span>Daily Room Cleaning</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-car-side icon-mr"></i>
                            <span>Parking Available</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-person-arrow-up-from-line icon-mr"></i>
                            <span>Elevator Access</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-tv icon-mr"></i>
                            <span>Cable/Satellite TV</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card  ">
        <div class="card-body">
            <p class="card-text">
               @Html.Raw(Model.Description)
            </p>
        </div>
    </div>
</section>

<button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-add-to-cart">
    <i class="fa-solid fa-cart-shopping"></i>
</button>
