@model IEnumerable<Model.Hotel>
@{
    ViewData["Title"] = "Hotel";
}

<section class="mt-5 mb-5">
    <div class="text-center">
        <h3>Featured properties recommended for you</h3>
    </div>
    <div class="row mt-5 me-3 ms-3">
        @for (int i = 1; i <= 5; i++)
        {
            <div class="col-lg-3">
                <div class="card mb-4 ">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Name of item @i" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Name of hotel @i</h5>
                        <span class="card-text">
                            <i class="fa-solid fa-location-dot fa-xs"></i>
                            Locacation of hotel @i
                        </span>
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h5 class="review-count">12 Reviews</h5>

                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-start align-items-center">
                                <p class="card-text text-danger fw-bold">
                                    VND 1.234.567
                                </p>
                            </div>
                            <button type="button" class="btn btn-primary" data-mdb-ripple-init>View</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>