@{
    var actionName = ViewContext.RouteData.Values["action"] as string;
    var controllerName = ViewContext.RouteData.Values["controller"] as string;

    string GetActiveClass(string currentAction, string currentController) =>
        actionName == currentAction && controllerName == currentController ? " active" : "";

    string GetActiveClassController(string currentController) =>
        controllerName == currentController ? " active" : "";
}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bold ms-2">Karnel Travel</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <li class='menu-item@(GetActiveClass("Index", "Home"))'>
            <a asp-action="index" asp-controller="home" asp-area="admin" class="menu-link">
                <i class="menu-icon fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Management</span>
        </li>
        <li class='menu-item@(GetActiveClass("Index", "Customer"))'>
            <a asp-action="index" asp-controller="customer" asp-area="admin" class="menu-link">
                <i class="menu-icon fa-solid fa-users"></i>
                Customer
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Tour Services</span>
        </li>
        <li class='menu-item@(GetActiveClassController("Hotel"))'>
            <a asp-action="index" asp-controller="hotel" asp-area="admin" class="menu-link">
                <i class="menu-icon fa-solid fa-hotel"></i>
                Hotel
            </a>
        </li>

        <li class='menu-item@(GetActiveClassController("Resort"))'>
            <a asp-action="index" asp-controller="resort" asp-area="admin" class="menu-link">
                <i class="menu-icon fa-solid fa-tree"></i>
                Resort
            </a>
        </li>

        <li class='menu-item@(GetActiveClassController("Restaurant"))'>
            <a asp-action="index" asp-controller="restaurant" asp-area="admin" class="menu-link">
                <i class="menu-icon fa-solid fa-utensils"></i>
                Restaurant
            </a>
        </li>

        <li class='menu-item@(GetActiveClassController("TouristSpot"))'>
            <a asp-action="index" asp-controller="touristspot" asp-area="admin" class="menu-link">
                <i class="menu-icon fa-solid fa-book"></i>
                Tourist Spot
            </a>
        </li>

        <li class='menu-item@(GetActiveClassController("Travel"))'>
            <a asp-action="index" asp-controller="travel" asp-area="admin" class="menu-link">
                <i class="menu-icon fa-solid fa-compass"></i>
                Travel
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Booking Services</span>
        </li>
        <li class='menu-item@(GetActiveClassController("Booking"))'>
            <a asp-action="index" asp-controller="booking" asp-area="admin" class="menu-link">
                <i class="menu-icon fa-solid fa-phone"></i>
                Booking
            </a>
        </li>
        <li class='menu-item@(GetActiveClassController("Feedback"))'>
            <a asp-action="index" asp-controller="feedback" asp-area="admin" class="menu-link">
                <i class="menu-icon  fa-solid fa-envelope"></i>
                Contact
            </a>
        </li>
    </ul>
</aside>