@model Model.Booking

@{
    ViewData["Title"] = "Create";
}

<section class="row mt-5 mb-5">
    <div class="card">
        <div class="card-body">
            <form asp-action="CheckIn" class="needs-validation" novalidate>
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" name="package" value="@ViewData["Package"]" />
                <input type="hidden" name="id" value="@ViewData["Id"]" />

                <div class="mb-3">
                    <label class="form-label">Your Name</label>
                    <input asp-for="CustomerName" class="form-control" required />
                    <div class="invalid-feedback">
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Phone Number</label>
                    <input asp-for="CustomerPhone" class="form-control" required />
                    <div class="invalid-feedback">
                        <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Check-In</label>
                    <input asp-for="CheckIn" class="form-control" required />
                    <div class="invalid-feedback">
                        <span asp-validation-for="CheckIn" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Check-Out</label>
                    <input asp-for="CheckOut" class="form-control" required />
                    <div class="invalid-feedback">
                        <span asp-validation-for="CheckOut" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="TotalPrice" class="form-label"></label>
                    <input asp-for="TotalPrice" class="form-control" required />
                    <div class="invalid-feedback">
                        <span asp-validation-for="TotalPrice" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</section>
