@model IEnumerable<Model.Booking>

@{
    ViewData["Title"] = "Index";
}

<section class="mt-5 mb-5">
    <h3 class="text-center fw-bold mb-3">
        Your booking
    </h3>
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a data-mdb-pill-init class="nav-link active" id="v-pills-hotel-tab" href="#v-pills-hotel" role="tab" aria-controls="v-pills-hotel" aria-selected="true">
                            Hotel
                        </a>

                        <a data-mdb-pill-init class="nav-link" id="v-pills-restaurant-tab" href="#v-pills-restaurant" role="tab" aria-controls="v-pills-restaurant" aria-selected="false">
                            Restaurant
                        </a>

                        <a data-mdb-pill-init class="nav-link" id="v-pills-resort-tab" href="#v-pills-resort" role="tab" aria-controls="v-pills-resort" aria-selected="false">
                            Resort
                        </a>

                        <a data-mdb-pill-init class="nav-link" id="v-pills-Tour-tab" href="#v-pills-Tour" role="tab" aria-controls="v-pills-Tour" aria-selected="false">
                            Tour
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-hotel" role="tabpanel" aria-labelledby="v-pills-hotel-tab">
                            <partial name="Sections/_Hotel" />
                        </div>
                        <div class="tab-pane fade" id="v-pills-restaurant" role="tabpanel" aria-labelledby="v-pills-restaurant-tab">
                            <partial name="Sections/_Restaurant" />
                        </div>
                        <div class="tab-pane fade" id="v-pills-resort" role="tabpanel" aria-labelledby="v-pills-resort-tab">
                            <partial name="Sections/_Resort" />
                        </div>
                        <div class="tab-pane fade" id="v-pills-Tour" role="tabpanel" aria-labelledby="v-pills-Tour-tab">
                            <partial name="Sections/_Tour" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
