@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<section class="mt-5 mb-5 text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Access Denied! Looks like you don't have the keys to enter.</p>
</section>
