@page
@model LoginModel
@{
    var errors = ViewData["Errors"] as IEnumerable<string>;
    ViewData["Title"] = "Log in";
}
<section class="w-100 d-flex justify-content-center pb-4 mt-5 mb-5">
    <div class="card p-4">
        <div class="col">
            <div class="text-center mb-4">
                <h4 class="fw-bold">Welcome back!</h4>
                <p>Log in to continue your journey with us.</p>
            </div>
            <hr class="hr hr-blurry" />
            <form id="account" method="post">
                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.Username" type="text" class="form-control" />
                    <label class="form-label">Username</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.Password" type="password" class="form-control" />
                    <label class="form-label" for="loginPassword">Password</label>
                </div>
                <div class="form-check mb-3 d-flex justify-content-center">
                    <input class="form-check-input"
                           id="loginCheck"
                           type="checkbox"
                           value="true"
                           asp-for="Input.RememberMe" />
                    <label class="form-check-label" for="loginCheck"> Remember me </label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block mb-4">Login</button>
                <hr class="hr hr-blurry" />
                <div class="text-center">
                    <p>
                        Not a member?
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                            Register
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('Input_Username').addEventListener('input', function () {
            this.value = this.value.replace(/[^a-z0-9]/g, '');
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (errors != null && errors.Any())
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Login Failed',
                    html: '@Html.Raw(string.Join("", errors))',
                    footer: '<a href="#">Need help? Contact support</a>',
                    timer: 10000,
                    timerProgressBar: true,
                });
            });
        </script>
    }
}
