@page
@model RegisterModel
@{
    var errors = ViewData["Errors"] as IEnumerable<string>;
    ViewData["Title"] = "Register";
}
<section class="w-100 d-flex justify-content-center pb-4 mt-5 mb-5">
    <div class="card p-4">
        <div class="col">
            <div class="text-center mb-4">
                <h4 class="fw-bold">Register new account</h4>
                <p>Start your journey by signing up for a new account today.</p>
            </div>
            <hr class="hr hr-blurry" />
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All"></div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline">
                            <input asp-for="Input.FirstName" class="form-control" />
                            <label class="form-label">
                                First name
                                <span class="text-danger ms-1">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div data-mdb-input-init class="form-outline">
                            <input asp-for="Input.LastName" class="form-control" />
                            <label class="form-label">
                                Last name
                                <span class="text-danger ms-1">*</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.Username" class="form-control" />
                    <label class="form-label">
                        Username
                        <span class="text-danger ms-1">*</span>
                    </label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.Address" class="form-control" />
                    <label class="form-label">
                        Address
                        <span class="text-danger ms-1">*</span>
                    </label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.Email" class="form-control" />
                    <label class="form-label">
                        Email address
                        <span class="text-danger ms-1">*</span>
                    </label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <label class="form-label">
                        Phone Number
                        <span class="text-danger ms-1">*</span>
                    </label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.Password" class="form-control" />
                    <label class="form-label">
                        Password
                        <span class="text-danger ms-1">*</span>
                    </label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <label class="form-label">
                        Confirm Password
                        <span class="text-danger ms-1">*</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block mb-4">Register</button>
                <hr class="hr hr-blurry" />
                <div class="text-center">
                    <p>
                        Not a member?
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">
                            Login
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('Input_PhoneNumber').addEventListener('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });
        document.getElementById('Input_Username').addEventListener('input', function () {
            this.value = this.value.replace(/[^a-z0-9]/g, '');
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (errors != null && errors.Any())
    {
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                icon: 'error',
                title: 'Register Failed',
                html: '@Html.Raw(string.Join("", errors))',
                footer: '<a href="#">Need help? Contact support</a>',
                timer: 10000,
                timerProgressBar: true,
            });
        });
        </script>
    }
}
