@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="card">
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
        <div class="col-md-4">
            <h4 class="text-center">Register new account</h4>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline">
                            <input asp-for="Input.FirstName" class="form-control" />
                            <label class="form-label">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div data-mdb-input-init class="form-outline">
                            <input asp-for="Input.LastName" class="form-control" />
                            <label class="form-label">Last name</label>
                        </div>
                    </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.Username" class="form-control" />
                    <label class="form-label">Username</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.Address" class="form-control" />
                    <label class="form-label">Address</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.Email" class="form-control" />
                    <label class="form-label">Email address</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <label class="form-label">Phone Number</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.Password" class="form-control" />
                    <label class="form-label">Password</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <label class="form-label">Confirm Password</label>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
